services:
    base:
        image: ghcr.io/jaodev-ph/thursday_appserver/base
        build:
            context: thursday
            args:
                GITHUB_TOKEN: ${GITHUB_TOKEN}
        environment:
            TZ: "Asia/Manila"
            GIT_HASH: "${GIT_HASH:-latest}"
        dns: 8.8.8.8

    api:
        container_name: thursday_api
        image: ghcr.io/jaodev-ph/thursday_appserver/api
        build:
            context: unified/api
            target: development
            args:
                GITHUB_TOKEN: ${GITHUB_TOKEN}
        ports:
            - '5031:5031'
        restart: unless-stopped
        depends_on:
            - base
            - mongodb
            - ollama
            - chromadb
        volumes:
            - ./unified/api:/srv/app
            - ./thursday:/srv/thursday
        environment:
            PYTHONIOENCODING: 'utf-8'
            PYTHONPATH: "${PYTHONPATH}:/thursday/thursday"
            TZ: "Asia/Manila"
            OLLAMA_HOST: http://ollama:11434
        # command: ['ping', 'localhost']
    
    mongodb:
        container_name: thursday_mongodb
        image: mongo:8.0.0-rc9-jammy
        volumes:
            - thursday-mongodb-data:/data/db
        restart: unless-stopped
        ports:
            - '27040:27017'
        environment:
            MONGO_INITDB_ROOT_USERNAME: 35d1d55b448d49e18bb51680cef60824
            MONGO_INITDB_ROOT_PASSWORD: 36374aa396384fa1b20666c189cfb4a4
            TZ: "Asia/Manila"
        # healthcheck:
        #     test: echo 'db.runCommand("ping").ok' | mongo localhost:27017/test --quiet
        #     interval: 30s
        #     timeout: 10s
        #     retries: 5
        #     start_period: 10s
        # logging:
        #     driver: "json-file"
        #     options:
        #         max-size: "256m"

    ollama:
        image: ollama/ollama:latest
        container_name: thursday_ollama
        ports:
            - "11434:11434"
        volumes:
            - thursday-ollama-data:/root/.ollama
        restart: unless-stopped

    chromadb:
        image: ghcr.io/chroma-core/chroma:latest
        container_name: thursday_chroma
        ports:
            - "8000:8000"
        volumes:
            - thursday-chroma-data:/data
        environment:
            - CHROMA_DB_IMPL=duckdb+parquet
            - CHROMA_PERSIST_DIRECTORY=/data

volumes:
    thursday-mongodb-data:
    thursday-ollama-data:
    thursday-chroma-data:

